* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e0f7fa;
    color: #004d40;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #004d40;
    border-radius: 50px;
    padding-left: 20px;
    width: 200px;
}